<section class="admin-fade-bg">

  <nav>
  </nav>

  <div class="admin-white-bg">

    <h1 class="admin-page-title">Member Points</h1>

    <p id="notice"><%= notice %></p>

    <%= link_to 'Add New Points', new_point_path, class: "admin-new-btn"%>

    <div class="admin-point-wrapper">

      <h6 class="admin-column-title">Member Name</h6>
      <h6 class="admin-column-title">Event</h6>
      <div></div>

      <% @points.each do |point| %>
        <p> 
          <%= link_to member_path(point.member_id) do %>
            <%= Member.find(point.member_id).name %>
          <% end %>
        </p>
        <p>
          <%= link_to event_path(point.event_id) do %>
            <%= Event.find(point.event_id).description %>
          <% end %>
        </p>
        <div class="admin-point-crud-icons">
          <%= link_to 'View Details', point, class: "attribute-show-btn" %>
          <%= link_to image_tag("edit.png", class: "attribute-icon"), edit_point_path(point) %>
          <%= link_to image_tag("delete.png", class: "attribute-icon"), point, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>

    </div>

  </div>

</section>