<p id="notice"><%= notice %></p>

<h1>Points</h1>

<table>
  <tr>
    <th>Member</th>
    <th>Event</th>
    <th colspan="3"></th>
  </tr>

  <% @points.each do |point| %>
    <tr>
      <td>
        <%= link_to member_path(point.member_id) do %>
          <%= Member.find(point.member_id).name %>
        <% end %>
      </td>
      <td>
        <%= link_to event_path(point.event_id) do %>
          <%= Event.find(point.event_id).description %>
        <% end %>
      </td>
      <td><%= link_to 'Show', point %></td>
      <td><%= link_to 'Edit', edit_point_path(point) %></td>
      <td><%= link_to 'Destroy', point, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<br>

<%= link_to 'New Point', new_point_path %>
<br>
<%= link_to 'Dashboard', root_path %>

