<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= Member.find(@point.member_id).name %>
</p>

<p>
  <strong>Event:</strong>
  <%= Event.find(@point.event_id).description %>
</p>


<%= link_to 'Edit', edit_point_path(@point) %> |
<%= link_to 'Back', points_path %>
