<section class="admin-fade-bg">

   <nav>
   </nav>

   <div class="admin-white-bg">
   
      <h1 class="admin-page-title">Points Leaderboard</h1>

      <div class="admin-leaderboard-wrapper">

         <h6 class="admin-column-title">Name</h6>
         <h6 class="admin-column-title">Total Points</h6>

         <% @members.each do |member| %>
            <p>
            <%= link_to member_path(member.id) do %>
               <%= member.name %>
            <% end %>
            </p>
            <p><%= member.points %></p>
         <% end %>
      </div>
      <div class="admin-attribute-links admin-plant-links">
         <%= link_to 'Back to Dashboard', dashboard_path, class: "admin-attribute-back-link admin-leaderboard-link"%>
         <%= link_to 'View Events', events_path, class: "admin-attribute-active-link"%>
      </div>

   </div>

</section>