<section class="admin-fade-bg">

  <nav>
  </nav>

  <div class="admin-white-bg">

    <h1 class="admin-page-title">New Position</h1>

    <%= form_with(model: position) do |form| %>
      <% if position.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(position.errors.count, "error") %> prohibited this position from being saved:</h2>

          <ul>
            <% position.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :member_id %>
        <%= form.select :member_id, @members.map { |member| [member.name, member.id] } %>
      </div>

      <div class="field">
        <%= form.label :position_name %>
        <%= form.text_field :position_name %>
      </div>

     <div class="admin-attribute-links admin-plant-links">
        <%= link_to 'Back to Positions', positions_path, class: "admin-attribute-back-link" %>
        <div class="actions">
          <%= form.submit %>
        </div>
      </div>
    <% end %>


  </div>

</section>