<section class="admin-fade-bg">

  <nav>
  </nav>

  <div class="admin-white-bg">

    <h1 class="admin-page-title">Positions</h1>

    <p id="notice"><%= notice %></p>

    <div class="admin-position-btns">
      <%= link_to 'Add New Position', new_position_path, class: "admin-new-btn" %>
      <%= link_to 'Edit Member Photos', imagefiles_path, class: "admin-new-btn" %>
    </div> 

    <div class="admin-position-wrapper">

      <h6 class="admin-column-title">Member Name</h6>
      <h6 class="admin-column-title">Position Title</h6>
      <div></div>

      <% @positions.each do |position| %>
        <p>
          <%= Member.find(position.member_id).name %>
        </p>
        <p>
          <%= position.position_name %>
        </p>
        <div class="admin-position-crud-icons">
          <%= link_to image_tag("edit.png", class: "attribute-icon"), edit_position_path(position) %>
          <%= link_to image_tag("delete.png", class: "attribute-icon"), position, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>

    </div>

  </div>

</section>