<section class="admin-fade-bg">

  <nav>
  </nav>

  <div class="admin-white-bg">

    <h1 class="admin-page-title">Position Details</h1>

    <p id="notice"><%= notice %></p>

    <div class="admin-show-wrapper">

      <h6 class="admin-column-title">Member Name</h6>
      <p><%= Member.find(@position.member_id).name %></p>

      <h6 class="admin-column-title">Position Title</h6>
      <p><%= @position.position_name %></p>

    </div>

    
    <div class="admin-attribute-links admin-plant-links">
      <%= link_to 'Back to Postitions', positions_path, class: "admin-attribute-back-link"%>
      <%= link_to 'Edit Position', edit_position_path(@position), class: "admin-attribute-active-link"%>
    </div>


  </div>

</section>
