<section class="admin-fade-bg">

  <nav class="navbar navbar-expand-lg navbar-light bg-adminNav">
    <div class="adminNav-container container-fluid">
      <%= link_to 'Horticulture Club Tracker', dashboard_path, class: "navbar-brand text-white" %>
      <button class="navbar-toggler admin-navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto adminNav-options">
          <li class="nav-item">
            <%= link_to 'Events', events_path, class: "nav-link admin-active", aria_current: "page" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link admin-nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Members
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to "Points", points_path, class: "dropdown-item" %></li>
              <li><%= link_to "Leaderboard", leaderboard_path, class: "dropdown-item" %></li>
              <li><%= link_to "Members", members_path, class: "dropdown-item" %></li>
              <li><%= link_to "Positions", positions_path, class: "dropdown-item" %></li>
            </ul>
          </li>
          <li class="nav-item">
            <%= link_to "Plants", plants_path, class: "nav-link admin-nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Admins", eligible_admins_path, class: "nav-link admin-nav-link" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="admin-white-bg">

    <h1 class="admin-page-title">Events</h1>

    <p id="notice"><%= notice %></p>

    <%= link_to "Create New Event", new_event_path, class: "admin-new-btn" %>

    <div class="admin-event-wrapper">

      <h6 class="admin-column-title">Event Type</h6>
      <h6 class="admin-column-title">Start Date</h6>
      <h6 class="admin-column-title">Start Time</h6>
      <div></div>

      <% @events.each do |event| %>
        <p><%= event.event_type %></p>
        <p><%= event.start_date %></p>
        <p><%= event.start_time %></p>
        <div class="admin-crud-icons">
          <%= link_to 'View Details', event, class: "attribute-show-btn" %>
          <%= link_to image_tag("edit.png", class: "attribute-icon"), edit_event_path(event) %>
          <%= link_to image_tag("delete.png", class: "attribute-icon"), event, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>

    </div>

  </div>

</section>