<section class="admin-fade-bg">

  <nav>
  </nav>

  <div class="admin-white-bg">

    <h1 class="admin-page-title">Events</h1>

    <p id="notice"><%= notice %></p>

    <%= link_to "Create New Event", new_event_path, class: "admin-new-btn" %>

    <div class="admin-event-wrapper">

      <h6 class="admin-column-title">Event Type</h6>
      <h6 class="admin-column-title">Start Date</h6>
      <h6 class="admin-column-title">Start Time</h6>
      <div></div>

      <% @events.each do |event| %>
        <p><%= event.event_type %></p>
        <p><%= event.start_date %></p>
        <p><%= event.start_time %></p>
        <div class="admin-crud-icons">
          <%= link_to 'View Details', event, class: "attribute-show-btn" %>
          <%= link_to image_tag("edit.png", class: "attribute-icon"), edit_event_path(event) %>
          <%= link_to image_tag("delete.png", class: "attribute-icon"), event, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>

    </div>

  </div>

</section>