<section class="admin-fade-bg">

  <nav>
  </nav>

  <div class="admin-white-bg">

    <h1 class="admin-page-title">Event Details</h1>

    <p id="notice"><%= notice %></p>

    <div class="admin-show-wrapper">

      <h6 class="admin-column-title">Event Type:</h6>
      <p>
        <%= @event.event_type %>
      </p>

      <h6 class="admin-column-title">Start Date:</h6>
      <p>
        <%= @event.start_date %>
      </p>

      <h6 class="admin-column-title">End Date:</h6>
      <p>
        <%= @event.end_date %>
      </p>

      <h6 class="admin-column-title">Start Time:</h6>
      <p>
        <%= @event.start_time %>
      </p>

      <h6 class="admin-column-title">End Time:</h6>
      <p>
        <%= @event.end_time %>
      </p>

      <h6 class="admin-column-title">Description</h6>
      <p>
        <%= @event.description %>
      </p>

      <h6 class="admin-column-title">Points</h6>
      <p>
        <%= @event.points %>
      </p>

    </div>

    <div class="admin-attribute-links admin-plant-links">
      <%= link_to 'Back to Events', events_path, class: "admin-attribute-back-link"%>
      <%= link_to 'Edit Event', edit_event_path(@event), class: "admin-attribute-active-link"%>
    </div>

  </div>
  
</section>