<section class="admin-fade-bg">

  <nav class="navbar navbar-expand-lg navbar-light bg-adminNav">
    <div class="adminNav-container container-fluid">
      <%= link_to 'Horticulture Club Tracker', dashboard_path, class: "navbar-brand text-white" %>
      <button class="navbar-toggler admin-navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto adminNav-options">
          <li class="nav-item">
            <%= link_to 'Events', events_path, class: "nav-link admin-nav-link", aria_current: "page" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link admin-nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Members
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to "Points", points_path, class: "dropdown-item" %></li>
              <li><%= link_to "Leaderboard", leaderboard_path, class: "dropdown-item" %></li>
              <li><%= link_to "Members", members_path, class: "dropdown-item" %></li>
              <li><%= link_to "Positions", positions_path, class: "dropdown-item" %></li>
            </ul>
          </li>
          <li class="nav-item">
            <%= link_to "Plants", plants_path, class: "nav-link admin-active" %>
          </li>
          <li class="nav-item">
            <%= link_to "Admins", eligible_admins_path, class: "nav-link admin-nav-link" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="admin-white-bg">
    <h1 class="admin-page-title">New Plant</h1>

    <%= form_with(model: plant) do |form| %>
      <% if plant.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

          <ul>
            <% plant.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>
      
      <div class="field">
        <%= form.label :price %>
        <%= form.number_field :price, step: :any%>
      </div>
      
      <div class="field">
        <%= form.label :description %>
        <%= form.text_field :description %>
      </div>

      <div class="field">
        <%= form.label :quantity %>
        <%= form.number_field :quantity %>
      </div>

      <div class="field">
        <%= form.label :growth %>
        <%= form.select :growth, ["Annual", "Perennial"]%>
      </div>

      <div class="field">
        <%= form.label :category %>
        <%= form.select :category, ["Flowers", "Bushes", "Trees", "Grasses", "Succulents"]%>
      </div>

      <div class="admin-attribute-links admin-plant-links">
        <%= link_to 'Back to Plants', plants_path, class: "admin-attribute-back-link" %>
        <div class="actions">
          <%= form.submit %>
        </div>
      </div>
    <% end %>
  </div>
</section>
