<section class="admin-fade-bg">
  <nav>
  </nav>
  <div class="admin-white-bg">

    <h1 class="admin-page-title">Plants</h1>
    
    <p id="notice"><%= notice %></p>

    <%= link_to 'Add New Plant', new_plant_path, class: "admin-new-btn"%>

    <div class="admin-plant-wrapper">
      <h6 class="admin-column-title">Name</h6>
      <h6 class="admin-column-title">Price</h6>
      <h6 class="admin-column-title">Description</h6>
      <div></div>
      <% @plants.each do |plant| %>
        <p><%= plant.name %></p>
        <p><%= plant.price %></p>
        <p><%= plant.description %></p>
        <div class="admin-crud-icons">
          <%= link_to 'View Details', plant, class: "attribute-show-btn" %>
          <%= link_to image_tag("edit.png", class: "attribute-icon"), edit_plant_path(plant) %>
          <%= link_to image_tag("delete.png", class: "attribute-icon"), plant, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
    </div>
  </div>
</section>