<section class="admin-fade-bg">

  <nav>
  </nav>

  <div class="admin-white-bg">

    <h1 class="admin-page-title">Plant Details</h1>

    <p id="notice"><%= notice %></p>

    <div class="admin-show-wrapper">
      <h6 class="admin-column-title">Name:</h6>
      <p>
        <%= @plant.name %>
      </p>

      <h6 class="admin-column-title">Price:</h6>
      <p>
        <%= @plant.price %>
      </p>

      <h6 class="admin-column-title">Description:</h6>
      <p>
        <%= @plant.description %>
      </p>

      <h6 class="admin-column-title">Category:</h6>
      <p>
        <%= @plant.category %>
      </p>

    </div>

    <div class="admin-attribute-links admin-plant-links">
      <%= link_to 'Back to Plants', plants_path, class: "admin-attribute-back-link"%>
      <%= link_to 'Edit Plant', edit_plant_path(@plant), class: "admin-attribute-active-link"%>
    </div>

  </div>

</section>