<section class="admin-fade-bg">

  <nav>
  </nav>

  <div class="admin-white-bg">

    <h1 class="admin-page-title">New Member Photo</h1>

    <%= form_with(model: imagefile) do |form| %>
      <% if imagefile.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(imagefile.errors.count, "error") %> prohibited this imagefile from being saved:</h2>

          <ul>
            <% imagefile.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :image %>
        <%= form.file_field :image %>
      </div>

      <div class="field">
        <%= form.label :member_id %>
        <%= form.select :member_id, Member.order(:name).map{|user| [user.name, user.id]} %>
      </div>

      <div class="admin-attribute-links admin-plant-links">
        <%= link_to 'Back to List', imagefiles_path, class: "admin-attribute-back-link" %>
        <div class="actions">
          <%= form.submit %>
        </div>
      </div>
    <% end %>

  </div>

</section>