<div class="admin-fade-bg">
    <h1 class="plantsale-title pt-5 text-white">TAMU Horticulture Club Plant Sale</h1>
    <h6 class="plantsale-title text-white">Below you can see our inventory!</h6>

    <div class="container plantsale-font-color">
        <table class="plantsale-table">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            <tr>
                <td class="plantsale-category">Annuals</td>
                <td></td>
                <td></td>
            </tr>

            <% @annuals.each do |plant| %>
                <tr>
                    <td><%= plant.name %></td>
                    <td><%= plant.price %></td>
                    <td><%= plant.quantity %></td>
                </tr>
            <% end %>

            <tr>
                <td class="plantsale-category">Perennials</td>
                <td></td>
                <td></td>
            </tr>

            <% @perennials.each do |plant| %>
                <tr>
                    <td><%= plant.name %></td>
                    <td><%= plant.price %></td>
                    <td><%= plant.quantity %></td>
                </tr>
            <% end %>

            <tr>
                <td class="plantsale-category">Houseplants</td>
                <td></td>
                <td></td>
            </tr>

            <% @houseplants.each do |plant| %>
                <tr>
                    <td><%= plant.name %></td>
                    <td><%= plant.price %></td>
                    <td><%= plant.quantity %></td>
                </tr>
            <% end %>

            <tr>
                <td class="plantsale-category">Trees</td>
                <td></td>
                <td></td>
            </tr>

            <% @trees.each do |plant| %>
                <tr>
                    <td><%= plant.name %></td>
                    <td><%= plant.price %></td>
                    <td><%= plant.quantity %></td>
                </tr>
            <% end %>

            <tr>
                <td class="plantsale-category">Shrubs</td>
                <td></td>
                <td></td>
            </tr>

            <% @shrubs.each do |plant| %>
                <tr>
                    <td><%= plant.name %></td>
                    <td><%= plant.price %></td>
                    <td><%= plant.quantity %></td>
                </tr>
            <% end %>

            <tr>
                <td class="plantsale-category">Succulents</td>
                <td></td>
                <td></td>
            </tr>

            <% @succulents.each do |plant| %>
                <tr>
                    <td><%= plant.name %></td>
                    <td><%= plant.price %></td>
                    <td><%= plant.quantity %></td>
                </tr>
            <% end %>

            <tr>
                <td class="plantsale-category">Fruits</td>
                <td></td>
                <td></td>
            </tr>

            <% @fruits.each do |plant| %>
                <tr>
                    <td><%= plant.name %></td>
                    <td><%= plant.price %></td>
                    <td><%= plant.quantity %></td>
                </tr>
            <% end %>

            <tr>
                <td class="plantsale-category">Vegetables</td>
                <td></td>
                <td></td>
            </tr>

            <% @vegetables.each do |plant| %>
                <tr>
                    <td><%= plant.name %></td>
                    <td><%= plant.price %></td>
                    <td><%= plant.quantity %></td>
                </tr>
            <% end %>
        </table>
    </div>
</div>
