<section class="fade-bg">
  <%= form_with(model: member) do |form| %>
    <% if member.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

        <ul>
          <% member.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <nav class="admin-navbar">

      <h1 href="../events" class="admin-page-title">Members</h1>

      <div class="nav-options">
        <%= link_to "Events", events_path %>
        <%= link_to "Points", points_path %>
        <%= link_to "Leaderboard", leaderboard_path %>
        <%= link_to "Plants", plants_path %>
        <%= link_to "Positions", positions_path %>
        <%= link_to "Dashboard", dashboard_path %>
      </div>

    </nav>

    <div class="events-form-wrapper">
      <div class="events-form-margin">
        <h1 class="events-form-title">New Member</h1>

        <div class="field">
          <%= form.label :name %>
          <%= form.text_field :name %>
        </div>

        <div class="events-form-links">
          <div class="back-link-border">
            <%= link_to 'Back to Members', members_path, class: "events-back-link" %>
          </div>
          <div class="actions">
            <%= form.submit %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>
