<section class="admin-fade-bg">

  <nav>
  </nav>

  <div class="admin-white-bg">

    <h1 class="admin-page-title">Members</h1>

    <p id="notice"><%= notice %></p>

    <%= link_to 'Add New Member', new_member_path, class: "admin-new-btn"%>

    <div class="admin-member-wrapper">

      <h6 class="admin-column-title">Name</h6>
      <div></div>

      <% @members.each do |member| %>

        <p><%= member.name %></p>

        <div class="admin-member-crud-icons">
          <%= link_to 'View Details', member, class: "attribute-show-btn" %>
          <%= link_to image_tag("edit.png", class: "attribute-icon"), edit_member_path(member) %>
          <%= link_to image_tag("delete.png", class: "attribute-icon"), member, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>

      <% end %>

    </div>

  </div>

</section>